---
import { formatDate } from "../lib/utils";

const year = new Date().getFullYear()
const now = formatDate(new Date())
---
<footer class="mt-16 lg:mt-0 py-4 text-center flex flex-col md:flex-row justify-center md:space-x-4 space-y-4 md:space-y-0 text-sm text-zinc-500">
	<span>Copyright © {year}.</span>
	<span>Static rendered on {now}.</span>
	<a target="_blank" class="underline" href="https://github.com/reegodev/reego.dev" rel="noopener">
		View source
	</a>
</footer>