/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(at left center, rgb(36, 36, 36), rgb(0, 0, 0));
  background-attachment: fixed;
}

::selection {
  color: theme('colors.white');
  background: theme('colors.primary');
}
